@import '../../stylesheets/_base'

@mixin error-outline
  outline: $secondary-error-color 1px solid


.SignIn
  margin: 0 10px

.SignIn__Input
  @include left-menu-input
  margin: 1px 0
  width: calc(100% - 20px)

.SignIn__Input--Error:not(:active), .SignIn__Input:invalid:not(:active)
  @extend .SignIn__Input
  @include error-outline

.SignIn__InputGroup
  white-space: nowrap
  width: calc(100% - 10px)

.SignIn__Input--WithBtn
  @extend .SignIn__Input
  width: calc(100% - 40px)
  float: left

.SignIn__Input--WithBtn--Error:not(:active), .SignIn__Input--WithBtn:invalid:not(:active)
  @extend .SignIn__Input--WithBtn
  @include error-outline

.SignIn__Btn
  background-color: $secondary-bg-color-light
  border: none
  color: inherit
  cursor: pointer
  display: block
  float: right
  margin: 1px 0
  padding: 5px
  width: 30px

  &:focus
    outline: none

.SignIn__ErrorMessage
  color: $secondary-error-color
  margin: 3px auto
  text-align: center
